<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Images</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <label for="photographer">Photographer: </label>
    <input name="photographer" id="photographer" required>
    <label for="location">Location: </label>
    <input name="location" id="location" required>
    <label for="date">Date: </label>
    <input type="date" id="date" name="date" required>

    <input type="file" name="file">
    <input type="submit">
</form>

<h2>Photo Album</h2>

<div class="row">

  <div class="column" style="background-color:#aaa;">
    <h2>Animal</h2>
    {% for image in animals %}
    <div>
    <a href="{{ image['id'] }}">
    <img src="{{ image['url'] }}" style="max-width: 10%">
    <p>{{ image['photographer'] }}</p>
    <p>{{ image['location'] }}</p>
    <p>{{ image['date'] }}</p>
        <p>{{ image['label']  }}</p>
    <p>{{ image['category'] }}</p>
    </a>
    </div>
    {% endfor %}
  </div>

  <div class="column" style="background-color:#bbb;">
    <h2>Flower</h2>
      {% for image in flowers %}
    <div>
    <a href="{{ image['id'] }}">
    <img src="{{ image['url'] }}" style="max-width: 10%">
    <p>{{ image['photographer'] }}</p>
    <p>{{ image['location'] }}</p>
    <p>{{ image['date'] }}</p>
        <p>{{ image['label']  }}</p>
    <p>{{ image['category'] }}</p>
    </a>
    </div>
    {% endfor %}

  </div>

  <div class="column" style="background-color:#ccc;">
    <h2>People</h2>
    {% for image in people %}
    <div>
    <a href="{{ image['id'] }}">
    <img src="{{ image['url'] }}" style="max-width: 10%">
    <p>{{ image['photographer'] }}</p>
    <p>{{ image['location'] }}</p>
    <p>{{ image['date'] }}</p>
        <p>{{ image['label']  }}</p>
    <p>{{ image['category'] }}</p>
    </a>
    </div>
    {% endfor %}
  </div>

  <div class="column" style="background-color:#ddd;">
    <h2>Other</h2>
    {% for image in others %}
    <div>
    <a href="{{ image['id'] }}">
    <img src="{{ image['url'] }}" style="max-width: 10%">
    <p>{{ image['photographer'] }}</p>
    <p>{{ image['location'] }}</p>
    <p>{{ image['date'] }}</p>
        <p>{{ image['label']  }}</p>
    <p>{{ image['category'] }}</p>
    </a>
    </div>
    {% endfor %}
  </div>

</div>





</body>
</html>
